*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/vcs.xml
/.idea/caches/
/.idea/
.idea/dictionaries/
/.idea/misc.xml
Буде вилучено app/src/main/res/drawable-hdpi/checkbox_dell.png
Буде вилучено app/src/main/res/drawable-mdpi/checkbox_dell.png
Буде вилучено app/src/main/res/drawable-xhdpi/checkbox_dell.png
Буде вилучено app/src/main/res/drawable-xxhdpi/checkbox_dell.png
Буде вилучено app/src/main/res/drawable-xxxhdpi/checkbox_dell.png
/.idea/caches/build_file_checksums.ser
